@charset "UTF-8";
/*________overall fallbacks for less styles by raguse scheer________*/

/* fontsize fallback */
.fontsize(@remsize) {
    font-size: 16px * @remsize;
    font-size: @remsize;
}
.fontsize-with-default-line-height(@remsize) {
    font-size: 16px * @remsize;
    font-size: @remsize;
    line-height: (16px*@remsize) * 1.2; // 120% line-height = font-size + 20% ascenders and descenders
    line-height: @remsize * 1.2; // 120% line-height = font-size + 20% ascenders and descenders
}

/* font-smoothing */
.font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* transition fallback */
.transition(@transition-fallback) {
    transition: @transition-fallback;
    -webkit-transition: @transition-fallback;
    -moz-transition: @transition-fallback;
    -ms-transition: @transition-fallback;
    -o-transition: @transition-fallback;
}
.transition-delay(@transition-delay-fallback) {
    transition-delay: @transition-delay-fallback;
    -webkit-transition-delay: @transition-delay-fallback;
    -moz-transition-delay: @transition-delay-fallback;
    -ms-transition-delay: @transition-delay-fallback;
    -o-transition-delay: @transition-delay-fallback;
}

/* vw viewport width fallback */
.viewport-width(@viewport-width) {
    width: unit(@viewport-width, %);
    width: unit(@viewport-width, vw);
}
.min-viewport-width(@viewport-width) {
    min-width: unit(@viewport-width, %);
    min-width: unit(@viewport-width, vw);
}
.max-viewport-width(@viewport-width) {
    max-width: unit(@viewport-width, %);
    max-width: unit(@viewport-width, vw);
}

/* vh viewport height fallback */
.viewport-height(@viewport-height) {
    height: unit(@viewport-height, vh);
    .no-vh &
    {
        height: unit(@viewport-height, vw);
    }
}
.min-viewport-height(@viewport-height) {
    min-height: unit(@viewport-height, vh);
    .no-vh & {
        min-height: unit(@viewport-height, vw);
    }
}
.max-viewport-height(@viewport-height) {
    max-height: unit(@viewport-height, vh);
    .no-vh & {
        max-height: unit(@viewport-height, vw);
    }
}

/* flex display */
.display-flex() {
    .inline-block();
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.box-flex(@box-flex-value) {
    -webkit-box-flex: @box-flex-value;
    -moz-box-flex: @box-flex-value;
    -webkit-flex: @box-flex-value;
    -ms-flex: @box-flex-value;
    flex: @box-flex-value;
}
.box-flex-order(@flex-order) {
    -webkit-box-ordinal-group: @flex-order;  
    -moz-box-ordinal-group: @flex-order;     
    -ms-flex-order: @flex-order;     
    -webkit-order: @flex-order;  
    order: @flex-order;
}
.justify-content(@justify-content-value) {
    -webkit-justify-content: @justify-content-value;
    -moz-justify-content: @justify-content-value;
    -ms-justify-content: @justify-content-value;
    justify-content: @justify-content-value;
}
.align-items(@align-items-value) {
    -webkit-align-items: @align-items-value;
    -moz-align-items: @align-items-value;
    -ms-align-items: @align-items-value;
    align-items: @align-items-value;
}
.align-self-item(@align-self-item-value) {
    -webkit-align-self: @align-self-item-value;
    -moz-align-self: @align-self-item-value;
    -ms-align-self: @align-self-item-value;
    align-self: @align-self-item-value;
}
.flex(@flex-value) {
    -webkit-flex: @flex-value;
    -moz-flex: @flex-value;
    -ms-flex: @flex-value;
    flex: @flex-value;
}
.flex-wrap(@flex-wrap-value) {
    -webkit-flex-wrap: @flex-wrap-value;
    -moz-flex-wrap: @flex-wrap-value;
    -ms-flex-wrap: @flex-wrap-value;
    flex-wrap: @flex-wrap-value;
}
.flex-direction(@flex-direction-value) {
    -webkit-flex-direction: @flex-direction-value;
    -moz-flex-direction: @flex-direction-value;
    -ms-flex-direction: @flex-direction-value;
    flex-direction: @flex-direction-value;
}

/* inline display */ 
// only use them on single elements, if they're really needed in firefox or ie.
.inline-block() {
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
}
.inline-table() {
    display: inline-table;
    display: -moz-inline-stack;
    zoom: 1;
    *display: inline;
}

/* transform */
.transform(@transform-value) {
    -webkit-transform: @transform-value;
    -moz-transform: @transform-value;
    -ms-transform: @transform-value;
    -o-transform: @transform-value;
    transform: @transform-value;
}

/*  padding */
.vw-padding-multi-val(@top-vw-padding, @right-vw-padding, @bottom-vw-padding, @left-vw-padding) { //with four (different) values but one unit
    padding: unit(@top-vw-padding, %) unit(@right-vw-padding, %) unit(@bottom-vw-padding, %) unit(@left-vw-padding, %);
    padding: unit(@top-vw-padding, vw) unit(@right-vw-padding, vw) unit(@bottom-vw-padding, vw) unit(@left-vw-padding, vw);
}
.vw-padding(@vw-padding) { //with one value
    padding: unit(@vw-padding, %);
    padding: unit(@vw-padding, vw);
}
.vw-padding-top(@vw-padding) {
    padding-top: unit(@vw-padding, %);
    padding-top: unit(@vw-padding, vw);
}
.vw-padding-bottom(@vw-padding) {
    padding-bottom: unit(@vw-padding, %);
    padding-bottom: unit(@vw-padding, vw);
}
.vw-padding-right(@vw-padding) {
    padding-right: unit(@vw-padding, %);
    padding-right: unit(@vw-padding, vw);
}
.vw-padding-left(@vw-padding) {
    padding-left: unit(@vw-padding, %);
    padding-left: unit(@vw-padding, vw);
}
.vh-padding-multi-val(@top-vh-padding, @right-vh-padding, @bottom-vh-padding, @left-vh-padding) { //with four (different) values but one unit
    padding: unit(@top-vh-padding, vh) unit(@right-vh-padding, vh) unit(@bottom-vh-padding, vh) unit(@left-vh-padding, vh);
    .no-vh & {
        padding: unit(@top-vh-padding, %) unit(@right-vh-padding, %) unit(@bottom-vh-padding, %) unit(@left-vh-padding, %);
    }
}
.vh-padding(@vh-padding) { //with one value
    padding: unit(@vh-padding, vh);
    .no-vh & {
        padding: unit(@vh-padding, vw);
    }
}
.vh-padding-top(@vh-padding) {
    padding-top: unit(@vh-padding, vh);
    .no-vh & {
        padding-top: unit(@vh-padding, vw);
    }
}
.vh-padding-bottom(@vh-padding) {
    padding-bottom: unit(@vh-padding, vh);
    .no-vh & {
        padding-bottom: unit(@vh-padding, vw);
    }
}
.vh-padding-right(@vh-padding) {
    padding-right: unit(@vh-padding, vh);
    .no-vh & {
        padding-right: unit(@vh-padding, vw);
    }
}
.vh-padding-left(@vh-padding) {
    padding-left: unit(@vh-padding, vh);
    .no-vh & {
        padding-left: unit(@vh-padding, vw);
    }
}

/* margin */
.vw-margin-multi-val(@top-vw-margin, @right-vw-margin, @bottom-vw-margin, @left-vw-margin) { //with four (different) values but one unit
    margin: unit(@top-vw-margin, %) unit(@right-vw-margin, %) unit(@bottom-vw-margin, %) unit(@left-vw-margin, %);
    margin: unit(@top-vw-margin, vw) unit(@right-vw-margin, vw) unit(@bottom-vw-margin, vw) unit(@left-vw-margin, vw);
}
.vw-margin(@vw-margin) { //with one value
    margin: unit(@vw-margin, %);
    margin: unit(@vw-margin, vw);
}
.vw-margin-top(@vw-margin) {
    margin-top: unit(@vw-margin, %);
    margin-top: unit(@vw-margin, vw);
}
.vw-margin-bottom(@vw-margin) {
    margin-bottom: unit(@vw-margin, %);
    margin-bottom: unit(@vw-margin, vw);
}
.vw-margin-right(@vw-margin) {
    margin-right: unit(@vw-margin, %);
    margin-right: unit(@vw-margin, vw);
}
.vw-margin-left(@vw-margin) {
    margin-left: unit(@vw-margin, %);
    margin-left: unit(@vw-margin, vw);
}
.vh-margin-multi-val(@top-vh-margin, @right-vh-margin, @bottom-vh-margin, @left-vh-margin) { //with four (different) values but one unit
    margin: unit(@top-vh-margin, vh) unit(@right-vh-margin, vh) unit(@bottom-vh-margin, vh) unit(@left-vh-margin, vh);
    .no-vh & {
        margin: unit(@top-vh-margin, %) unit(@right-vh-margin, %) unit(@bottom-vh-margin, %) unit(@left-vh-margin, %);
    }
}
.vh-margin(@vh-margin) { //with one value
    margin: unit(@vh-margin, vh);
    .no-vh & {
        margin: unit(@vh-margin, vw);
    }
}
.vh-margin-top(@vh-margin) {
    margin-top: unit(@vh-margin, vh);
    .no-vh & {
        margin-top: unit(@vh-margin, vw);
    }
}
.vh-margin-bottom(@vh-margin) {
    margin-bottom: unit(@vh-margin, vh);
    .no-vh & {
        margin-bottom: unit(@vh-margin, vw);
    }
}
.vh-margin-right(@vh-margin) {
    margin-right: unit(@vh-margin, vh);
    .no-vh & {
        margin-right: unit(@vh-margin, vw);
    }
}
.vh-margin-left(@vh-margin) {
    margin-left: unit(@vh-margin, vh);
    .no-vh & {
        margin-left: unit(@vh-margin, vw);
    }
}

.vh-border-top(@vh-border) {
    border-top: unit(@vh-border, vh);
    .no-vh & {
        border-top: unit(@vh-border, vw);
    }
}
.vh-border-bottom(@vh-border) {
    border-bottom: unit(@vh-border, vh);
    .no-vh & {
        border-bottom: unit(@vh-border, vw);
    }
}
.vh-border-right(@vh-border) {
    border-right: unit(@vh-border, vh);
    .no-vh & {
        border-right: unit(@vh-border, vw);
    }
}
.vh-border-left(@vh-border) {
    border-left: unit(@vh-border, vh);
    .no-vh & {
        border-left: unit(@vh-border, vw);
    }
}

/* positioning – left, right, top & bottom */
.vw-left(@vw-left) {
    left: unit(@vw-left, %);
    left: unit(@vw-left, vw);
}
.vw-right(@vw-right) {
    right: unit(@vw-right, %);
    right: unit(@vw-right, vw);
}
.vh-top(@vh-top) {
    top: unit(@vh-top, vh);
    .no-vh & {
        top: unit(@vh-top, vw);
    }
}
.vh-bottom(@vh-bottom) {
    bottom: unit(@vh-bottom, vh);
    .no-vh & {
        bottom: unit(@vh-bottom, vw);
    }
}

/* selection */
.selection-color(@selection-color, @selection-background-color) {
    ::selection {
        color: @selection-color;
        background: @selection-background-color;
    }
    ::-moz-selection {
        color: @selection-color;
        background: @selection-background-color;
    }
}

/* box shadow */
.box-shadow(@boxshadow) {
    -webkit-box-shadow: @boxshadow;
    -moz-box-shadow: @boxshadow;
    box-shadow: @boxshadow;
}

/* columns */
.column-count(@column-count-value) {
    -webkit-column-count: @column-count-value;
    -moz-column-count: @column-count-value;
    column-count: @column-count-value;
}
.column-gap(@column-gap-value) {
    -webkit-column-gap: @column-gap-value;
    -moz-column-gap: @column-gap-value;
    column-gap: @column-gap-value;
}

/* gradient */
.vertical-gradient (@gradient-start-color, @gradient-end-color) {
    background-color: @gradient-start-color;
    background: -webkit-gradient(linear, left top, left bottom, from(@gradient-start-color), to(@gradient-end-color));
    background: -webkit-linear-gradient(top, @gradient-start-color, @gradient-end-color);
    background: -moz-linear-gradient(top, @gradient-start-color, @gradient-end-color);
    background: -ms-linear-gradient(top, @gradient-start-color, @gradient-end-color);
    background: -o-linear-gradient(top, @gradient-start-color, @gradient-end-color);
}
.horizontal-gradient (@gradient-start-color, @gradient-end-color) {
    background-color: @gradient-start-color;
    background-image: -webkit-gradient(linear, left top, right top, from(@gradient-start-color), to(@gradient-end-color));
    background-image: -webkit-linear-gradient(left, @gradient-start-color, @gradient-end-color);
    background-image: -moz-linear-gradient(left, @gradient-start-color, @gradient-end-color);
    background-image: -ms-linear-gradient(left, @gradient-start-color, @gradient-end-color);
    background-image: -o-linear-gradient(left, @gradient-start-color, @gradient-end-color);
}
.gradial-gradient (@gradient-start-color, @gradient-end-color) {
    background: @gradient-start-color;
    background: -webkit-radial-gradient(@gradient-start-color, @gradient-end-color); 
    background: -o-radial-gradient(@gradient-start-color, @gradient-end-color); 
    background: -moz-radial-gradient(@gradient-start-color, @gradient-end-color); 
    background: radial-gradient(@gradient-start-color, @gradient-end-color); 
}

/* box-sizing */
.box-sizing (@boxsizing) {
    -moz-box-sizing: @boxsizing;
    box-sizing: @boxsizing;
}

/* overflow */
.overflow-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.overflow-x-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.overflow-y-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* animation */
.animation-duration (@duration) {
    -webkit-animation-duration: @duration;
    -moz-animation-duration: @duration;
    -o-animation-duration: @duration;
    animation-duration: @duration;
}
.animation-delay (@delay) {
    -webkit-animation-delay: @delay;
    -moz-animation-delay: @delay;
    -o-animation-delay: @delay;
    animation-delay: @delay;
}
.animation-iteration-count (@iterationcount) {
    -webkit-animation-iteration-count: @iterationcount;
    -moz-animation-iteration-count: @iterationcount;
    -o-animation-iteration-count: @iterationcount;
    animation-iteration-count: @iterationcount;
}

/* hyphens */
.hyphens (@hyphen-val) {
    -webkit-hyphens: @hyphen-val;
    -moz-hyphens: @hyphen-val;
    -ms-hyphens: @hyphen-val;
    hyphens: @hyphen-val;
}

/* clip-path */
.clip-path (@clip-path-val) {
    -webkit-clip-path: @clip-path-val;
    clip-path: @clip-path-val;
}

/* filter */
.filter (@filter-val) {
    -webkit-filter: @filter-val;
    filter: @filter-val;
}
